In [60]:
import yfinance as yf
import pandas as pd
import talib

In [3]:
yf

Type:        module
String form: <module 'yfinance' from 'c:\\Users\\sieun\\anaconda3\\envs\\tradingenv\\Lib\\site-packages\\yfinance\\__init__.py'>
File:        c:\users\sieun\anaconda3\envs\tradingenv\lib\site-packages\yfinance\__init__.py
Docstring:   <no docstring>

In [5]:
df = yf.download('AAPL', start='2019-01-01', end='2024-12-31')

[*********************100%***********************]  1 of 1 completed

In [12]:
df.columns

MultiIndex([( 'Close', 'AAPL'),
            (  'High', 'AAPL'),
            (   'Low', 'AAPL'),
            (  'Open', 'AAPL'),
            ('Volume', 'AAPL')],
           names=['Price', 'Ticker'])

In [20]:
df = df.stack(level=1).rename_axis(['Date', 'Ticker']).reset_index(level=1)

C:\Users\sieun\AppData\Local\Temp\ipykernel_9960\3591518285.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df = df.stack(level=1).rename_axis(['Date', 'Ticker']).reset_index(level=1)

In [26]:
tickerStrings = ['AAPL', 'MSFT']
df_list = []
for ticker in tickerStrings:
    data = yf.download(ticker, group_by="Ticker", period='2d')
    data['ticker'] = ticker  # Add ticker column
    df_list.append(data)

# Combine all dataframes into a single dataframe
df = pd.concat(df_list)
# df.to_csv('ticker.csv')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [53]:
df = yf.download(tickerStrings)
df.columns = df.columns.droplevel(1)
# d = {idx: gp.T for idx, gp in df.T.groupby(level=0)}

[*********************100%***********************]  2 of 2 completed

In [54]:
df

Price,Close,Close,High,High,Low,Low,Open,Open,Volume,Volume
Date,,,,,,,,,,
1980-12-12,0.098834,NaN,0.099264,NaN,0.098834,NaN,0.098834,NaN,469033600,NaN
1980-12-15,0.093678,NaN,0.094108,NaN,0.093678,NaN,0.094108,NaN,175884800,NaN
1980-12-16,0.086802,NaN,0.087232,NaN,0.086802,NaN,0.087232,NaN,105728000,NaN
1980-12-17,0.088951,NaN,0.089381,NaN,0.088951,NaN,0.088951,NaN,86441600,NaN
1980-12-18,0.091530,NaN,0.091959,NaN,0.091530,NaN,0.091530,NaN,73449600,NaN
...,...,...,...,...,...,...,...,...,...,...
2025-01-17,229.979996,429.029999,232.289993,434.480011,228.479996,428.170013,232.119995,434.089996,68488300,26197500.0
2025-01-21,222.639999,428.500000,224.419998,430.899994,219.380005,425.600006,224.000000,430.200012,98070400,26085700.0
2025-01-22,223.830002,446.200012,224.119995,447.269989,219.789993,436.000000,219.789993,437.559998,64126500,27803800.0
2025-01-23,223.660004,446.709991,227.029999,446.750000,222.300003,441.500000,224.740005,442.000000,60234800,18389300.0
2025-01-24,222.779999,444.059998,225.630005,446.649994,221.410004,441.399994,224.779999,445.160004,54619500,15542100.0

In [40]:
df_reset = df.reset_index()
print(df_reset.head())

Ticker       Date MSFT                            AAPL                      \
Price             Open High Low Close Volume      Open      High       Low
0      1980-12-12  NaN  NaN NaN   NaN    NaN  0.098834  0.099264  0.098834
1      1980-12-15  NaN  NaN NaN   NaN    NaN  0.094108  0.094108  0.093678
2      1980-12-16  NaN  NaN NaN   NaN    NaN  0.087232  0.087232  0.086802
3      1980-12-17  NaN  NaN NaN   NaN    NaN  0.088951  0.089381  0.088951
4      1980-12-18  NaN  NaN NaN   NaN    NaN  0.091530  0.091959  0.091530

Ticker
Price      Close     Volume
0       0.098834  469033600
1       0.093678  175884800
2       0.086802  105728000
3       0.088951   86441600
4       0.091530   73449600

In [ ]:
stock = yf.Ticker('AAPL')
dict = stock.info
print(dict.keys())

dict_keys(['address1', 'city', 'state', 'zip', 'country', 'phone', 'website', 'industry', 'industryKey', 'industryDisp', 'sector', 'sectorKey', 'sectorDisp', 'longBusinessSummary', 'fullTimeEmployees', 'companyOfficers', 'auditRisk', 'boardRisk', 'compensationRisk', 'shareHolderRightsRisk', 'overallRisk', 'governanceEpochDate', 'compensationAsOfEpochDate', 'irWebsite', 'maxAge', 'priceHint', 'previousClose', 'open', 'dayLow', 'dayHigh', 'regularMarketPreviousClose', 'regularMarketOpen', 'regularMarketDayLow', 'regularMarketDayHigh', 'dividendRate', 'dividendYield', 'exDividendDate', 'payoutRatio', 'fiveYearAvgDividendYield', 'beta', 'trailingPE', 'forwardPE', 'volume', 'regularMarketVolume', 'averageVolume', 'averageVolume10days', 'averageDailyVolume10Day', 'bid', 'ask', 'bidSize', 'askSize', 'marketCap', 'fiftyTwoWeekLow', 'fiftyTwoWeekHigh', 'priceToSalesTrailing12Months', 'fiftyDayAverage', 'twoHundredDayAverage', 'trailingAnnualDividendRate', 'trailingAnnualDividendYield', 'currency', 'enterpriseValue', 'profitMargins', 'floatShares', 'sharesOutstanding', 'sharesShort', 'sharesShortPriorMonth', 'sharesShortPreviousMonthDate', 'dateShortInterest', 'sharesPercentSharesOut', 'heldPercentInsiders', 'heldPercentInstitutions', 'shortRatio', 'shortPercentOfFloat', 'impliedSharesOutstanding', 'bookValue', 'priceToBook', 'lastFiscalYearEnd', 'nextFiscalYearEnd', 'mostRecentQuarter', 'earningsQuarterlyGrowth', 'netIncomeToCommon', 'trailingEps', 'forwardEps', 'lastSplitFactor', 'lastSplitDate', 'enterpriseToRevenue', 'enterpriseToEbitda', '52WeekChange', 'SandP52WeekChange', 'lastDividendValue', 'lastDividendDate', 'exchange', 'quoteType', 'symbol', 'underlyingSymbol', 'shortName', 'longName', 'firstTradeDateEpochUtc', 'timeZoneFullName', 'timeZoneShortName', 'uuid', 'messageBoardId', 'gmtOffSetMilliseconds', 'currentPrice', 'targetHighPrice', 'targetLowPrice', 'targetMeanPrice', 'targetMedianPrice', 'recommendationMean', 'recommendationKey', 'numberOfAnalystOpinions', 'totalCash', 'totalCashPerShare', 'ebitda', 'totalDebt', 'quickRatio', 'currentRatio', 'totalRevenue', 'debtToEquity', 'revenuePerShare', 'returnOnAssets', 'returnOnEquity', 'grossProfits', 'freeCashflow', 'operatingCashflow', 'earningsGrowth', 'revenueGrowth', 'grossMargins', 'ebitdaMargins', 'operatingMargins', 'financialCurrency', 'trailingPegRatio'])